* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main__container {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    background-image: url('/ai-monalisa.jpg');
}

.interface {
    background-color: #0000005e;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.interface__card {
    width: 50%;
    background-color: #ffffff47;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    backdrop-filter: blur(3px);
    border-radius: 25px;
    margin: 2rem 0;
}

.interface::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    backdrop-filter: contrast(0.5);
}

.card__title {
    display: flex;
    justify-content: center;
    font-family: "Itim", cursive;
    font-weight: 700;
    font-size: 3rem;
    font-style: italic;
    background: linear-gradient(to right, #a70505, #c93f0c, #e2a415, #51b418, #00bbff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.727);
    margin-bottom: 1rem;
}

.dropzone {
    width: 100%;
    height: 100px;
    border: 3px dashed #00000094;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff69;
    border-radius: 25px;
    transition: 0.5s all;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.dropzone:focus {
    border-color: #ffffff;
}

.dropzone__active {
    border-color: #ffffff;
}

.dropzone__text {
    font-family: "Itim", cursive;
    font-size: 1.3rem;
    font-weight: 700;
    color: #00000094;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.846);
    text-align: center;
}

.dropzone__loading {
    background-color: #ffffff69;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 0.5rem;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.dropzone__filename {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #00000094;
    text-shadow: 1px 1px 2px #cccacad7;
    width: 90%;
    word-wrap: break-word;
}

.dropzone__image {
    width: 60px;
    border-radius: 5px;
  }

.loading__borderBar {
    width: 90%;
    border-radius: 25px;
    height: 20px;
    border: 2px solid #585858;
    position: relative;
    display: flex;
    flex-direction: column;
}

.loading__borderBar::before {
    content: attr(uploadprogress);
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #ececec94;
    text-shadow: 1px 1px 2px #cccacad7;
    align-self: center;
}

.loading__bar {
    width: 50%;
    height: 100%;
    border-radius: 25px;
    background-color: #585858;
    align-self: flex-start;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.form__input {
    width: 100%;
    background-color: #ffffff69;
    color: #00000094;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.846);
    padding: 0.8rem;
    font-size: 1.3rem;
    border-radius: 25px;
    font-family: "Itim", cursive;
    font-weight: 700;
    text-align: center;
    resize: none;
    outline: none;
    transition: 0.5s all;
    border: 2px solid transparent;
    overflow: hidden;
}

.form__input:focus {
    border: 2px solid white;
}

.form__input::placeholder {
    color: #00000094;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.846);
}

.form__button {
    font-size: 1.7rem;
    font-family: "Itim", cursive;
    font-weight: 700;
    color: #ffffff;
    background-color: transparent;   
    border: 2px solid #ffffff31;
    text-shadow: 1px 1px 1px #ea1616 #e4440a #e2a413 #5fe412 #0cace6;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: 0.5s all;
    cursor: pointer;
    margin-bottom: 0.5rem;
    position: relative;
    transition: all 0.5s;
}

.form__button:hover {
    border: 2px solid #ffffff;
    transform: scale(1.05) translateY(-3px);
}

.form__button::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 25px;
    z-index: -1;
    background: linear-gradient(to right, #f0616194, #f481578a, #ffd06185, #a4fb717a, #92e2ff7d);
}

.swal2-popup {
    border-radius: 25px;
    padding: 0;
    background-color: #000000;
    font-family: Tahoma, Arial, sans-serif;
    box-sizing: border-box;
}


.swal2-container {
    backdrop-filter: blur(8px);
}

.swal2-container .swal2-html-container {
    color: #ffffff;
    font-size: 1.5rem;
    width: 100%;
    padding: 0 1rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: italic;
    background-color: black;
    overflow-y: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.swal2-html-container p {
    font-weight: 700;

}

.swal2-actions {
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin: 0 0 1rem 0;
}

.swal2-actions .swal2-confirm  {
  
    box-shadow: none !important;
    filter: drop-shadow(0);
    outline: none;    
    user-select: none;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #ffffffa4;
    background-color: transparent;   
    border: 2px solid #ffffff31;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: 0.5s all;
    cursor: pointer;
    text-shadow: 1px 1px 2px #cccacad7;
    margin-top: 2rem;
}

.swal2-actions .swal2-confirm:hover {
    border-color: #ffffffa4;
}

.error__icon {
    width: 60%;
    margin: 1rem 0;
    border-radius: 100%;
}

.response {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.response__image {
    width: 50%;
    border-radius: 25px;
}

.response__download {
    font-size: 1.7rem;
    font-family: "Itim", cursive;
    font-weight: 700;
    color: #ffffffa4;
    background-color: transparent;   
    border: 2px solid #ffffff31;
    text-shadow: 1px 1px 2px #cccacad7;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: 0.5s all;
    cursor: pointer;
    text-decoration:none;
}

.response__download:hover {
    border-color: #ffffffa4;
}

.response__goToBack {
    font-size: 1.7rem;
    font-family: "Itim", cursive;
    font-weight: 700;
    color: #ffffffa4;
    background-color: transparent;   
    border: 2px solid #ffffff31;
    text-shadow: 1px 1px 2px #cccacad7;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: 0.5s all;
    cursor: pointer;
    text-decoration:none;
}

.response__goToBack:hover {
    border-color: #ffffffa4;
}

.card__image {
    width: 22%;
    border-radius: 100%;
    margin-bottom: 1rem;
    opacity: 0.8;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.card__image::before {
    content: "";
    background: linear-gradient(to right, #f06161, #f48157, #ffd061, #a4fb71, #92e2ff);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    animation: rotate 2s linear infinite;
}

.card__image::after {
    content: "";
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 100%;
    background-image: url('/card-image.gif');
    background-size: cover;
}

.card__footer {
    width: 100%;
    background-color: #ffffff2d;
    background-image: url('https://i.gifer.com/BVLZ.gif');
    background-blend-mode: soft-light;
    padding: 0.8rem;
    font-size: 1.3rem;
    font-style: italic;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
    border: 2px solid #ffffff34;
    opacity: 0.8;
}

.card__footer:hover {
    border: 2px solid #ffffffb6;
    opacity: 1;
}

.glitch {
    position: relative;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.2;
    color: #ffffff;
    z-index: 1;
    font-family: "Major Mono Display", monospace;
 }
 
 .glitch:before,
 .glitch:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
 }
 
 .glitch:before {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #00ffdd;
    z-index: -1;
 }
 
 .glitch:after {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #ff0000;
    z-index: -2;
 }
 
 @keyframes glitch-color {
    0% {
       transform: translate(0);
    }
 
    20% {
       transform: translate(-2px, 2px);
    }
 
    40% {
       transform: translate(-2px, -2px);
    }
 
    60% {
       transform: translate(2px, 2px);
    }
 
    80% {
       transform: translate(2px, -2px);
    }
 
    to {
       transform: translate(0);
    }
 }

 .glitch-error {
    position: relative;
    font-weight: 700;
    line-height: 1.2;
    color: #ffffff;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
 }
 
 .glitch-error:before,
 .glitch-error:after {
    display: flex;
    content: attr(data-glitch);
    position: absolute;
    justify-content: center;
    opacity: 0.8;
 }
 
 .glitch-error:before {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: rgb(84, 146, 252);
    z-index: -1;
 }
 
 .glitch-error:after {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: rgb(247, 5, 5);
    z-index: -2;
 }

 .card__title--404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3rem;
    font-style: italic;
    color: #00000091;
    text-shadow: 0 0 2px #ff0000;
    gap: 1rem;
}

.card__title--404 p {
    font-size: 2rem;
    text-align: center;
}

.interface__card--404 {
    width: 50%;
    background-color: #4f040472;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    backdrop-filter: blur(10px);
    border-radius: 25px;
}



@media screen and (max-width: 999px) {
    .interface__card {
        width: 90%;
    }

.error__icon {
    width: 90%;
}

    .interface__card--404 {
        width: 90% ;
    }

    .card__title--404 p {
        font-size: 1rem;
    }

    .card__title {
        font-size: 3rem;
    }

    .dropzone__text {
        font-size: 1.5rem;
    }

    .form__input {
        font-size: 1.5rem;
    }

    .swal2-popup {
        width: 90%;
    }

    .response__image {
        width: 80%;
    }

    .response__download {
        width: 100%;
        text-align: center;
    }

    .response__goToBack {
        width: 100%;
        text-align: center;
    }

    .swal2-title {
        font-size: 1.7rem;
    }

    .card__image {
        width: 60%;
        max-width: 250px;
    }

    .dropzone__filename {
        font-size: 1rem;
    }

    .glitch {
        font-size: 1rem;
    }

    .main__container {
        background-position: -80px -100px;
        background-size: 158%;
        background-image: url('/ai_monalisa.jpg');
        background-position: center;
    }
}